* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #666;
}

a {
    text-decoration: none;
}

a:hover i {
   color: #1F1F1F
} 

a:hover {
    text-decoration: underline;
}

/*  == Header Start == */

header {
    width: 100%;
    height: 60px;
}

.topnav {
    float: right;
    padding-right: 30px;
    margin-top: 12px;
}

.topnav li {
    display: inline-flex;
    vertical-align: middle;
    padding-left: 11px;
}

i.md-36 {
    font-size: 36px;
}

/* == Header End == Main Start == */

/* == Main Logo == */

#main1 {
    height: 115px;
    width: 100%;
    margin-top: 138px;
}

.logo {
    width: 272px;
    margin: 0 auto;
}

.logo-subtext {
    font-family: Roboto, arial, sans-serif;
    font-size: 17px;
    color: #4285f4;
    position: relative;
    float: right;
    right: 35px;
    bottom: 21px;
}

img {
    height: 92px;
    width: 272px;
    margin: 0 auto;
}

/* == Main Search Form == */

#main2 {
    width: 100%;
    height: 150px;
}

form {
    width: 585px;
    margin: 0 auto;
}

.searchbar input {
    width: 585px;
    height: 44px;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    padding-left: 15px;
    font-size: 16px;
    color: #000;
    box-shadow: 0 2px 5px -3px #B8B6B6;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.button {
    margin: 34px 149px;
    display: inline-flex;
}

.button input {
    font-weight: bold;
    height: 36px;
    margin: 0 5px;
    padding: 0 17px;
    background: #f2f2f2;
    color: #757575;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    transition: border 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.searchbar input:hover, input:focus {
    box-shadow: 0 3px 10px -3px #B8B6B6;
}

.button input:hover {
    border: 1px solid #c6c6c6;
}

/* == Main End == Footer Start == */

footer {
    width: 100%;
    height: 40px;
    background-color: #F2F2F2;
    border-top: 1px solid #e6e6ee;
    position: absolute;
    bottom: 0;
}

footer li {
    display: inline-flex;
    vertical-align: middle;
    padding: 0 13px;
}

.lbnav {
    float: left;
    padding-top: 12px;
    padding-left: 15px;
    margin-left: 5px;
}

.rbnav {
    float: right;
    padding-top: 12px;
    padding-right: 15px;
    margin-right: 5px;
}

